 /* Algemene stijl */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

/* Hero sectie */
.hero {
  position: relative;
  height: 100vh;
  background-image: url('/fotos/foto1.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s ease-out;
}

.hero .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: relative;
  color: white;
  z-index: 1;
  padding: 20px;
}

.free-intake {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: black;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: bold;
  z-index: 2;
}

.free-intake:hover {
  background: #333;
}


.hero h1 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.hero h2 {
  font-weight: 400;
  margin: 5px 0 20px;
}

.experience {
  font-size: 1rem;
  margin-bottom: 30px;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.main-menu a {
  background: white;
  color: black;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.85rem;
  transition: background 0.2s;
}

.main-menu a:hover {
  background: #ddd;
}



.contact-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: black;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  z-index: 2;
}

.contact-btn:hover {
  background: #333;
}

/* Hoofdsectie */
.main-section {
  background: white;
  padding: 50px 20px;
  text-align: center;
}

.content-box {
  max-width: 800px;
  margin: 0 auto;
}

.content-box img {
  width: 100px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.1rem;
  margin-bottom: 20rem;
  margin-top: 5rem;}

.buttons a {
  background: #f0f0f0;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: background 0.2s;
}

.buttons a:hover {
  background: #ddd;
}

.contact-info {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #444;
}

