* {
  margin: 0;
  padding: 0;
}

.header{
    background-color:#0f0d0d;
    padding: 4rem;
    text-align: right;
    overflow: hidden;
}
.about{
    list-style: none;
    display: inline-flex;
    gap: 2rem;
      margin: 0;
  padding: 0;
    text-decoration: none;
}

li a:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}   